[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-sqlalchemy = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
psycopg2-binary = "*"
werkzeug = "*"
flask-cors = "*"
flask = "*"
flask-jwt-extended = "*"
flask-migrate = "*"

[dev-packages]

[requires]
python_version = "3.8"
